<div class="row">
  <div class="col-12" style="position: relative;text-align: center;">
    <img class="img-fluid" src="../../assets/images/music1.jpg" alt="">
    <div class="text-light" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
      <h2 class="display-1">
        Search for your favourite artists
      </h2>
      <h4>
        Use the search link to search for an artist. Click on read more for each artist to see more details.
      </h4>
    </div>
  </div>
</div>
